.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Spinner {
  animation: Board-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Board {
  width: 306px;
  height: 306px;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

h1 {
  padding-right: 20px;
}

p {
  font-size: 20px;
}

@keyframes Board-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
